.new-shopkeeper-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.new-shopkeeper-container .content {
  width: 100%;
  padding: 40px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-shopkeeper-container .content section {
  width: 100%;
}

.new-shopkeeper-container .content section h1{
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-shopkeeper-container .content section p{
  font-size: 18px;
  color: #737389;
  line-height: 32px;
}

.new-shopkeeper-container .content form {
  width: 100%;
}

.new-shopkeeper-container .content form input,
.new-shopkeeper-container .content form textarea {
  margin-top: 8px;
  margin-left: 8px;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container button {
  margin-top: 10px;
  margin-left: 10px;
}
